<div class="container-fluid d-flex justify-content-center align-items-center my-4 flex-column">
	<!-- button to fetch the data -->
	<button class="btn btn-primary w-25"
		(click)="fetchData()"
	>Click</button>
	<!-- pagenataion section-->
	<ngb-pagination class="my-4"
		[(page)]="page"
		[pageSize]="rowPerPage"
		[collectionSize]="tableDataArr.length"
	></ngb-pagination>
	<!-- table section -->
	<table class="table table-bordered w-50">
		<thead style="border-bottom: black;">
			<tr>
				<th class="text-center">Name</th>
				<th class="text-center">Capacity</th>
				<th class="text-center">Station Id</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" *ngFor="let eachRow of tableDataArr | slice: (page-1)*rowPerPage : page*rowPerPage">
				<td *ngFor="let eachData of eachRow"> {{eachData}} </td>
			</tr>
		</tbody>
	</table>
	
</div>