<div class="container-fluid d-flex justify-content-center align-items-center my-4 flex-column">
	<!-- button to fetch the data -->
	<button class="btn btn-primary w-25"
		(click)="fetchData()"
	>Click</button>
	<!-- pagenataion section-->
	<ngb-pagination class="my-4"
		[page]="page"
		[collectionSize]="arr.length"
		[pageSize]="pageSize"
	></ngb-pagination>
	<!-- table section -->
	<table class="table my-2 w-50">
		<tbody class="text-center">
			<th>Name</th>
			<tr *ngFor="let eachData of arr | slice : (page-1)*pageSize : page*pageSize">
				<td>{{eachData}}</td>
			</tr>
		</tbody>
	</table>
</div>